*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'lato',sans-serif
}
.profile, .attendance,.attendanceHistory{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content:center ;
    font-size: 3rem;
}
